
/* .winebasics {
  background: rgb(0,0,0, 0.6);
  margin-top: 120px;
  margin-bottom: 20px;
}

.tasting {
  text-overflow: wrap;
} */

.collection {
  margin-top: 50px;
  padding-top: 60px;
  background: rgb(209,209,209);
height: 100%;
width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around;
  align-content: flex-start;
  font-size: 25px;
  overflow: auto;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.title {
  text-align: center;
}

.winebasics {
  text-align: justify;
  padding-left: 250px;
  padding-bottom: 30px;
},

img {
vertical-align: middle;
margin-top: 100px;
}

.image2 {
  margin-left: 400px;
}