

.jumbotron {
	background-color: none;
  font-family: 'Monoton', cursive;
	background: none;
  color: #f33f80;
  text-align: center;
  font-size: 800PX;
	/* text-align: center; */
}
.jumbotron .h1, .jumbotron h1 {
  font-size: 20%;
}