.agebox {
  font-family: Tahoma, Geneva, sans-serif;
  padding-top: 120px;
/*   background: #ECEFF1; */
  height: 300px;
margin-top: 70px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around;
  align-content: flex-start;
  font-size: 25px;
  overflow: auto;
 /*  box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
  text-align: center;
  background-color: none;
  background: rgb(255,255,255, 0.5);
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

/* form {
  align-items: center;
} */

.agesubmit {
  color:black;
}